<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="footer" th:remove="tag">

    <footer class="footer">
        <div class="container">
            <!--<span class="text-muted">Place sticky footer content here.</span>-->

            <div class="row">
                <span class="col-md-auto footer-title">PixNet Master</span>

                <span class="col-md-auto" th:text="'Version: ' + ${appVersion}"></span>

                <span class="col-md-auto">
                    &copy; 2018
                    <a href="http://www.utef.cvut.cz/"> IEAP CTU in Prague</a>
                </span>
            </div>

        </div>
    </footer>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</div>

</body>
</html>