.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #343a40;
}

footer * {
    color: white;
}

body > .container {
    padding: 60px 15px 0;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-title {
    font-size: 1.25rem;
}

code {
    font-size: 80%;
}
