<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="common/header :: head"></head>
</head>
<body>
<div th:replace="common/header :: top-navigation"></div>

<div class="container top25">
    <div class="row">
        <div class="col-10">
            <h1>Detectors</h1>
        </div>
    </div>
    <div class="row top15">
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Connection status</th>
                    <th scope="col">Measurement status</th>
                    <th scope="col">Readout</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detector : ${detectors}">
                    <th scope="row" th:text="${detector.detectorID}"></th>
                    <td th:text="${detector.status.connection}"></td>
                    <td th:text="${detector.status.measurement}"></td>
                    <td th:text="${detector.detectorComm.getReadoutName()}"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>

</body>
</html>