<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <title>PixNet - handler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark" th:fragment="top-navigation">
    <a class="navbar-brand" th:href="@{/}" th:text="'PixNet Handler - ' + ${handlerName}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${module == 'detectors' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/detectors}">Detectors</a>
            </li>
            <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>